.bar-header {
  background-color: #002855;
}

ion-side-menu li .item {
  background-color: #313848;
  border-color: #4F5865;
  color: #BCC3CF;

}

ion-side-menu li.item {
  border-color: #4F5865;
  }

ion-side-menu li.item.item-divider {
  background-color: #3E4755;
}

.ion-ionic {
  color: #002855;
}
.ion-home {
  color: blue;
}
.ion-ios-bell {
  color: yellow;
}
.ion-chatbox {
  color: green;
}
.ion-calendar {
  color: white;
}
.ion-folder {
  color: purple;
}
.ion-earth {
  color: maroon;
}
.ion-help-buoy {
  color: orange;
}
.ion-gear-b {
  color: dimgray;
}
.ion-log-out {
  color: red;
}

.ion-ionic:before {
  content: "\f3ea";
}

.mm-site_mm_courses .tabs-icon-left {
  background-color: #EBEFF8;
}
.mm-site_mm_courses section h2 span {
  font-weight: bold;
}

/* 3.5 styles */

/** Header color */
.toolbar-background-md,
.toolbar-background-ios,
.toolbar-background-wp {
  background: #002855;
}

/* Bottom tabs selected color */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
.tabs-wp .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true],
.core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
  color: #EAAA00 !important;
  border-bottom-color: #EAAA00 !important;
}

/* Tabs color*/
.core-tabs-bar .slides a.tab-slide[aria-selected=true] {
  color: #EAAA00 !important;
  border-bottom-color: #EAAA00 !important;
}

/* Loading spinner */
.spinner circle, .spinner line {
    stroke: #EAAA00;
}

/* Buttons */
.button-md,
.button-ios,
.button-wp,
.fab-ios,
.fab-md,
.fab-wp {
  background-color: #EAAA00;
}

.button-outline-md,
.button-outline-ios,
.button-outline-wp {
    border-color: #EAAA00;
    background-color: #ffffff;
    color: #EAAA00;
}

.button-clear-md,
.button-clear-ios,
.button-clear-wp {
  background-color: transparent;
  color: #EAAA00;
}

.tabs-md .tabbar {
    background: #212529;
}

@media (prefers-color-scheme: dark){
  body.scheme-auto ion-app.app-root .ion-page .card-content,
  body.scheme-auto ion-app.app-root .ion-page .card-header,
  body.scheme-auto ion-app.app-root .ion-page .core-danger-card,
  body.scheme-auto ion-app.app-root .ion-page .core-dark-card,
  body.scheme-auto ion-app.app-root .ion-page .core-gray-card,
  body.scheme-auto ion-app.app-root .ion-page .core-info-card,
  body.scheme-auto ion-app.app-root .ion-page .core-inverted-card,
  body.scheme-auto ion-app.app-root .ion-page .core-light-card,
  body.scheme-auto ion-app.app-root .ion-page .core-primary-card,
  body.scheme-auto ion-app.app-root .ion-page .core-secondary-card,
  body.scheme-auto ion-app.app-root .ion-page .core-success-card,
  body.scheme-auto ion-app.app-root .ion-page .core-tabs-bar,
  body.scheme-auto ion-app.app-root .ion-page .core-tabs-bar *,
  body.scheme-auto ion-app.app-root .ion-page .core-tabs-bar .tab-slide,
  body.scheme-auto ion-app.app-root .ion-page .core-warning-card,
  body.scheme-auto ion-app.app-root .ion-page .ion-page,
  body.scheme-auto ion-app.app-root .ion-page .item,
  body.scheme-auto ion-app.app-root .ion-page .item-select,
  body.scheme-auto ion-app.app-root .ion-page ion-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .card-content,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .card-header,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-danger-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-dark-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-gray-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-info-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-inverted-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-light-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-primary-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-secondary-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-success-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-tabs-bar,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-tabs-bar *,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-tabs-bar .tab-slide,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .core-warning-card,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .ion-page,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .item,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group .item-select,
  body.scheme-auto ion-app.app-root ion-action-sheet .action-sheet-container .action-sheet-group ion-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .card-content,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .card-header,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-danger-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-dark-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-gray-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-info-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-inverted-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-light-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-primary-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-secondary-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-success-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-tabs-bar,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-tabs-bar *,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-tabs-bar .tab-slide,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .core-warning-card,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .ion-page,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .item,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper .item-select,
  body.scheme-auto ion-app.app-root ion-alert .alert-wrapper ion-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .card-content,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .card-header,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-danger-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-dark-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-gray-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-info-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-inverted-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-light-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-primary-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-secondary-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-success-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-tabs-bar,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-tabs-bar *,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-tabs-bar .tab-slide,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .core-warning-card,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .ion-page,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .item,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper .item-select,
  body.scheme-auto ion-app.app-root ion-loading .loading-wrapper ion-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .card-content,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .card-header,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-danger-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-dark-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-gray-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-info-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-inverted-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-light-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-primary-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-secondary-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-success-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-tabs-bar,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-tabs-bar *,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-tabs-bar .tab-slide,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .core-warning-card,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .ion-page,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .item,
  body.scheme-auto ion-app.app-root ion-popover .popover-content .item-select,
  body.scheme-auto ion-app.app-root ion-popover .popover-content ion-card {
    color: #fff;
    background-color: #212529;
  }
}
